 /* code couleur F495D4 */

body{
    background-color: #F495D4;
    background-image:
    linear-gradient(to bottom, #f495d4, rgba(255, 255, 255, 0.3)),
    url('./img/back.png'); 
    background-repeat: no-repeat;
}

/* NavBar */

.opacitynav{
    background-color: #e8f1e8 !important;
    opacity: 0.85;
}

.Logo{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.nav-link{
    margin: auto !important;
}

.hovernav:hover{
    color:#F495D4 !important;
}

/* CSS VIDEO */
#background-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

h1, h2, #btnVideo{
    color: white; 
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    }
    
    h1 {
    font-size: 6rem;
    margin-top: 30vh;
    }
    
    h2 {
         font-size: 3rem; 
    }
    
    #btnVideo{
    font-size: 1.5rem;
    background: 0;
    border: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    }
 
/* flip card TEAM */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    margin-left: 4%;
    perspective: 1000px;
    display: inline-block;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #F495D4;
    color: hsla(0, 0%, 0%, 0.9);
    padding-top: 60px;
    border-radius: 5px;
}

.flip-card-back {
    background-color: #F495D4;
    color: white;
    transform: rotateY(180deg);
    border-radius: 5px;
}